## Training
<lu>
<li>Today we are going to use the Jupyter notebook to do the following:</li>
<li>Import libaries</li>
<li>read CSV file in pandas dataframe</li>
<li>take a look on the file data</li>
<li>get the mean, median and describe</li> 
</lu>

In [20]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [21]:
df = pd.read_csv('student_scores.csv')

In [23]:
df.head()

      ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

In [24]:
df.tail()

      ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
ID            5 non-null int64
Name          5 non-null object
Attendance    5 non-null float64
HW            5 non-null float64
Test1         5 non-null float64
Project1      5 non-null float64
Test2         5 non-null float64
Project2      5 non-null float64
Final         5 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 404.0+ bytes

In [26]:
df.describe()

,ID,Attendance,HW,Test1,Project1,Test2,Project2,Final
count,5.000000,5.00000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000
mean,30692.600000,0.81600,0.880000,85.40000,90.200000,86.600000,87.600000,88.000000
std,4915.212691,0.28369,0.105594,11.39298,12.049896,8.473488,5.683309,5.244044
min,27492.000000,0.32000,0.740000,68.00000,70.000000,73.000000,81.000000,82.000000
25%,27604.000000,0.84000,0.840000,82.00000,89.000000,84.000000,82.000000,84.000000
50%,28592.000000,0.96000,0.850000,87.00000,94.000000,90.000000,90.000000,88.000000
75%,30572.000000,0.96000,0.970000,92.00000,98.000000,92.000000,92.000000,91.000000
max,39203.000000,1.00000,1.000000,98.00000,100.000000,94.000000,93.000000,95.000000

In [27]:
df.mean()

ID            30692.600
Attendance        0.816
HW                0.880
Test1            85.400
Project1         90.200
Test2            86.600
Project2         87.600
Final            88.000
dtype: float64

In [30]:
df['Final'].mean()

88.0

In [31]:
df.median()

ID            28592.00
Attendance        0.96
HW                0.85
Test1            87.00
Project1         94.00
Test2            90.00
Project2         90.00
Final            88.00
dtype: float64

In [32]:
df['Test1'].median()

87.0